body{
    background-color:lightyellow;
    
    margin:2px;
    padding:3px;
    
}
.center{
    display:inline-block;
    border-radius: 10px;
    margin:2px;
    padding:3px;
    margin-left:auto;
    margin-right:auto;
    width :17%;
    height:300px;
    border:5px;
    border-style: solid;
    border-color:black;
    float:left;
}
button{
    background-color:white;
    text-align:center;
    color:black;
    border radius:5px;
    cursor:pointer;
}

ul{
    font-style: italic;
    display:inline-block;
}



