{% extends "layout.html" %}
{% block content %}

<head> 
    <style>
  
  table {
    align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td ,th {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style> 
   </head> 
   <body> 
    <h1 style="text-align:left"><u>Contact Us:</u></h1> 
    <p></p> 
    <h4>Here at Edupoint we give best of the best services with educational goods in most affordable rates,hope u,guys are enjoying it and don't hesitate to contact us for any queries/complaint.Sorry for inconvenience caused if any.</h4> 
    <h4>Contact details are as follows:</h4> 
    <p></p> 
    <h1>Contact Details:</h1> 
    <table> 
     <tbody> 
      <tr> 
       <th><h3>Name</h3></th> 
       <th><h3>Contact Number</h3></th> 
       <th>Email</th> 
      </tr> 
      <tr> 
       <td><b>Onkar Punwatkar</b></td> 
       <td>7038512205</td> 
       <td>punwatkaron@gmail.com</td> 
      </tr> 
      <tr> 
       <td><b>Yash Phatak<b></b></b></td> 
       <td>8369099810 </td> 
       <td>yashsameerphatak@gmail.com </td> 
      </tr> 
      <tr> 
       <td><b>Shubham Ghode</b></td> 
       <td>9360531038 </td> 
       <td>shubham.ghode@rediffmail.com</td> 
      </tr> 
      <tr> 
       <td><b>Aniket Mahadik</b></td> 
       <td>8691874668</td> 
       <td>mahadikaniket15@gmail.com</td> 
      </tr> 
     </tbody> 
    </table> 
   
  </body>

  {% endblock content %}