{% extends "layout.html" %}
{% block content %}
<html>
<head>
<style>
	h1{border-width:7px;
		border-top-color:blue;
		border-bottom-color:blue;
		border-left-color:#0FA6F2;
		border-right-color:#0FA6F2;
		border-style:solid;
		padding:15px;
		background-color:#0FA6F2;
	}
	body{background-color:white;
		padding: 60px;}
	.central{text-align:left;
			}
	
	.center{text-align:center;}		
	
	.imgmod{
	float:left;
	border:2px solid black;
	margin:25px 25px 0px 0px;
	}
	
	.button{
	border:none;
	color:white;
	padding:16px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:;16px;
	margin:4px 2px;
	transmition-duration:0.4s;
	cursor:pointer;
	}
	
	.button1{
	background-color:;white;
	color:black;
	borde:2px solid #e7e7e7;
	color:black;
	}
	
	.button1:hover{
	
	backgound-color:;#e7e7e7;
	color:black;
	}
</style>
<title>V.J.T.I. Books</title>
</head>
<body>

	<div class="center">
	<p><h1><b><u>V.J.T.I. Books</u></b></h1></p>
	</div>

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/balg.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"</h4><u>Product Name:</u><a href="/home/menu/VJTI Books/Object-Oriented Programming with C++">Object-Oriented Programming with C++</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 510.00</h4>
	
	<p align="left"><button class="button button1 central"  onclick="window.location.href='/home/menu/VJTI Books/Object-Oriented Programming with C++'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/alex.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Fundamentals of Electric Circuits">Fundamentals of Electric Circuits</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 775.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Fundamentals of Electric Circuits'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\bhandari.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Design of Machine Elements">Design of Machine Elements</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 715.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Design of Machine Elements'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\bmeshram.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Object Oriented Paradigm With C++ Beginners Guide For C & C++">Object Oriented Paradigm With C++ Beginners Guide For C & C++</a></h4>
	
	<h4 class="central"><u>Price:</u>₹1800.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Object Oriented Paradigm With C++ Beginners Guide For C & C++'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\chawla.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/A Textbook Of Engineering Chemistry By Shashi Chawla">A Textbook Of Engineering Chemistry By Shashi Chawla</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 575.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/A Textbook Of Engineering Chemistry By Shashi Chawla'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\dom.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Basic Mechanical Engineering">Basic Mechanical Engineering</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 185.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Basic Mechanical Engineering'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\bhatt.jpeg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Engineering Drawing by N.D.Bhatt">Engineering Drawing By N.D.Bhatt</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 250.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Engineering Drawing by N.D.Bhatt'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\egdubey.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Engineering Drawing By N.H.Dubey">Engineering Drawing By N.H.Dubey</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 640.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Engineering Drawing By N.H.Dubey'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\grewal.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Higher Engineering Mathematics By B.S.Grewal">Higher Engineering Mathematics By B.S.Grewal</a></h4>
	
	<h4 class="central"><u>Price:</u> 899.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Higher Engineering Mathematics By B.S.Grewal'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\j&j.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Engineering Chemistry By Jain and Jain">Engineering Chemistry By Jain and Jain</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 650.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Engineering Chemistry By Jain and Jain'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\phy-kshirsagar.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/A Textbook of Engineering Physics">TextBook Of Engineering Physics</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 691.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/A Textbook of Engineering Physics'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\kumb1.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Applied Mathematics-1 By G.V.Kumbhojkar">Applied Mathematics-1 By G.V.Kumbhojkar</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 540.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Applied Mathematics-1 By G.V.Kumbhojkar'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\kumb2.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Applied Mathematics-2 By G.V.Kumbhojkar">Applied Mathematics-2 By G.V.Kumbhojkar</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 550.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Applied Mathematics-2 By G.V.Kumbhojkar'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\lsc+.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Let Us C++" >Let Us C++</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 330.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Let Us C++'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\mechdayal.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Engineering Mechanics By M.D.Dayal" >Engineering Mechanics By M.D.Dayal</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 550.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Engineering Mechanics By M.D.Dayal'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\mechdubey.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Engineering Mechanics Statics and Dynamics By N.H.Dubey" >Engineering Mechanics Statics and Dynamics By N.H.Dubey</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 700.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Engineering Mechanics Statics and Dynamics By N.H.Dubey'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\beeravish.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Basic Electrical Engineering By Ravish Singh" >Basic Electrical Engineering By Ravish Singh</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 425.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Basic Electrical Engineering By Ravish Singh'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\soldayal.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/SOLUTIONS Engineering Mechanics by M. D. Dayal" >SOLUTIONS Engineering Mechanics by M. D. Dayal</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 470.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/SOLUTIONS Engineering Mechanics by M. D. Dayal'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\solkumb1.jpg" width="" height="200" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Companion to Applied Mathematics 1 by G. V. Kumbhojkar"> Companion to Applied Mathematics 1 by G. V. Kumbhojkar</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 240.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Companion to Applied Mathematics 1 by G. V. Kumbhojkar'">Check</button></p>
	<br><br></br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\solkumb2.jpg" width="" height="200" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u> <a href="/home/menu/VJTI Books/Companion to Applied Mathematics 2 by G. V. Kumbhojkar">Companion to Applied Mathematics 2 by G. V. Kumbhojkar</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 240.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Companion to Applied Mathematics 2 by G. V. Kumbhojkar'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\wavhal.png" width="160" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Applied Physics-1"> Applied Physics-1</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 300.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Applied Physics-1'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img\wavhal2.png" width="160" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/VJTI Books/Applied Physics-2">Applied Physics-2</a></h4>
	
	<h4 class="central"><u>price:</u>₹ 300.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/VJTI Books/Applied Physics-2'">Check</button></p>
	<br>
<hr>



</body>
</html>
{% endblock content %}