{% extends "layout.html" %}
{% block content %}


<head> 
    <style>
   * {box-sizing:border-box}
  body {
  font-family: Verdana,sans-serif;
  margin:0px;
  padding:57px;
  }
  .mySlides {display:none}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
    
  </style> 
   </head> 
   <body> 
    <section> 
     <div class="slideshow-container"> 
      <div class="deliveryslides"> 
       <div class="numbertext">
        1 / 6
       </div> 
       <img onclick="window.location.href='/home/menu'" src="/static/Img/logo.png " width=100% height=420px alt="image of logo" > 
      </div> 
      <div class="deliveryslides "> 
       <div class="numbertext">
        2 / 6
       </div> 
       <img  src="/static/Home page images/delivery.png" width=100% height=420px alt=" image  related to delivery service "> 
      </div> 
      <div class="deliveryslides "> 
       <div class="numbertext">
        3 / 6
       </div> 
       <img onclick="window.location.href='/home/menu/stationery'" src="/static/Home page images/stationary ad 1.png" width=100% height=420px alt="image of stationary products"> 
      </div> 
      <div class="deliveryslides "> 
       <div class="numbertext">
        4 / 6
       </div> 
       <img onclick="window.location.href='/home/menu/VJTI Books'" src="/static/Home page images/VJTI book ad 2.png" width=100% height=420px alt="image of VJTI books"> 
      </div> 
      <div class="deliveryslides"> 
       <div class="numbertext">
        5 / 6
       </div> 
       <img onclick="window.location.href='/home/menu/generalbooks'" src="/static/Home page images/general book ad 3.png" width=100% height=420px alt="image of general books"> 
      </div> 
      <div class="deliveryslides"> 
       <div class="numbertext">
        6 / 6
       </div> 
       <img onclick="window.location.href='/home/menu/Engineering Equipments'" src="/static/Home page images/Engg Equipment ad 4.png " width=100% height=420px alt=" image of Engg Equipment "> 
      </div> 
     </div> 
     <br> 
     <div style="text-align:center"> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
     </div> 
     <script>
          var slideIndex = 0;
          showdelSlides();
          
          function showdelSlides() {
            var i;
            var slides = document.getElementsByClassName("deliveryslides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showdelSlides, 3000); // Change image every 3 seconds
          }
          </script> 
    </section> 
    <h1><u><a href="/home/menu">Shop by Category:</a></u></h1> 
    <section> 
     <ol> 
      <li><h2><u><a href="/home/menu/stationery">Stationery</a></u></h2></li> 
      <div id="slideshow1" class="slideshow-container"> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/stationery/Classmate Notebook'" src="/static/Home page images/classmate notebook.jpg" width=100% height=400px alt="image of clasmate notebook" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/stationery/Folder Files'" src="/static/Home page images/folder file.jpg" width=100% height=400px alt="image of folder file" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/stationery/Paper Files'" src="/static/Home page images/spring file.jpg" width=100% height=400px alt="image spring file" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/stationery/Mini Drafter'" src="/static/Home page images/mini drafter.jpg" width=100% height=400px alt="image of mini drafter" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/stationery/Commerce Calculator'" src="/static/Home page images/Casio calculator.jpg" width=100% height=400px alt="image of casio calculator" style="width:100%"> 
       </div> 
       <a class="prev" onclick="plusSlides(-1,slideshow1)">❮</a> 
       <a class="next" onclick="plusSlides(1, slideshow1)">❯</a> 
       <div style="text-align:center"> 
        <span class="dot" onclick="currentSlide(1, slideshow1)"></span> 
        <span class="dot" onclick="currentSlide(2, slideshow1)"></span> 
        <span class="dot" onclick="currentSlide(3, slideshow1)"></span> 
        <span class="dot" onclick="currentSlide(4, slideshow1)"></span> 
        <span class="dot" onclick="currentSlide(5, slideshow1)"></span> 
       </div> 
      </div> 
      <br> 
      <li><h2><u><a href="/home/menu/VJTI Books">VJTI Books</a></u></h2></li> 
      <div id="slideshow2" class="slideshow-container"> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/VJTI Books/A Textbook of Engineering Physics'" src="/static/Home page images/physics.jpg" width=100% height=400px alt="image of physics book" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/VJTI Books/Design of Machine Elements'" src="/static/Home page images/machine design.jpg" width=100% height=400px alt="image of machine design book " style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/VJTI Books/A Textbook Of Engineering Chemistry By Shashi Chawla'" src="/static/Home page images/shashi chawla.jpg" width=100% height=400px alt="image of chemistry book" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/VJTI Books/Engineering Drawing By N.H.Dubey'" src="/static/Home page images/nh dubey.jpg" width=100% height=400px alt="image of engineering graphics" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/VJTI Books/Object-Oriented Programming with C++'" src="/static/Home page images/balguru.jpg" width=100% height=400px alt="image of c++. object oriented programming language book" style="width:100%"> 
       </div> 
       <a class="prev" onclick="plusSlides(-1, this.parentNode)">❮</a> 
       <a class="next" onclick="plusSlides(1, this.parentNode)">❯</a> 
       <div style="text-align:center"> 
        <span class="dot" onclick="currentSlide(1, slideshow2)"></span> 
        <span class="dot" onclick="currentSlide(2, slideshow2)"></span> 
        <span class="dot" onclick="currentSlide(3, slideshow2)"></span> 
        <span class="dot" onclick="currentSlide(4, slideshow2)"></span> 
        <span class="dot" onclick="currentSlide(5, slideshow2)"></span> 
       </div> 
      </div> 
      <br> 
      <li><h2><u><a href="/home/menu/generalbooks">Books</a></u></h2></li> 
      <div id="slideshow3" class="slideshow-container"> 
       <div class="mySlides "> 
        <img  onclick="window.location.href='/home/menu/generalbooks/The Da Vinci Code'" src="/static/Home page images/da vinci code.jpg" width=100% height=400px alt="image of da vinci code book" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img  onclick="window.location.href='/home/menu/generalbooks/Coronavirus:What You Need To Know About The Global Pandemic'" src="/static/Home page images/corona.jpg" width=100% height=400px alt="image of corona book " style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/generalbooks/Shuttling To The Top:The Story Of P.V.Sindhu'" src="/static/Home page images/story of pv Sindhu.jpg" width=100% height=400px alt="image of story of pv Sindhu book " style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img  onclick="window.location.href='/home/menu/generalbooks/Immortals Of Meluha Book 1 Of The Shiva Trilogy'" src="/static/Home page images/Immortals of meluha.jpg" width=100% height=400px alt="image  of meluha book" style="width:100%"> 
       </div> 
       <div class="mySlides"> 
        <img onclick="window.location.href='/home/menu/generalbooks/Ikigai : The Japanese Secret To A Long And Happy Life'" src="/static/Home page images/ikigai.jpg" width=100% height=400px alt="image of  ikigai boo" style="width:100%"> 
       </div> 
       <a class="prev" onclick="plusSlides(-1, this.parentNode)">❮</a> 
       <a class="next" onclick="plusSlides(1, this.parentNode)">❯</a> 
       <div style="text-align:center"> 
        <span class="dot" onclick="currentSlide(1, slideshow3)"></span> 
        <span class="dot" onclick="currentSlide(2, slideshow3)"></span> 
        <span class="dot" onclick="currentSlide(3, slideshow3)"></span> 
        <span class="dot" onclick="currentSlide(4, slideshow3)"></span> 
        <span class="dot" onclick="currentSlide(5, slideshow3)"></span> 
       </div> 
      </div> 
      <br> 
      <li><h2><u><a href="/home/menu/Engineering Equipments">Engineering Equipments</a></u></h2></li> 
     </ol> 
     <div id="slideshow4" class="slideshow-container"> 
      <div class="mySlides"> 
       <img onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/IR Sensor'" src="/static/Home page images/IR sensor.jpg" width=100% height=400px alt="image of IR sensor" style="width:100%"> 
      </div> 
      <div onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Raspberry Pi'" class="mySlides"> 
       <img src="/static/Home page images/rasbery pi.jpg" width=100% height=400px alt="image of rasbery pi " style="width:100%"> 
      </div> 
      <div class="mySlides"> 
       <img onclick="window.location.href='/home/menu/Engineering Equipments/Physics/Polarimeter'" src="/static/Home page images/polarimeter.jpg" width=100% height=400px alt="image of polarimeter" style="width:100%"> 
      </div> 
      <div class="mySlides "> 
       <img onclick="window.location.href='/home/menu/Engineering Equipments/Physics/Micrometer Screw Gauge'" src="/static/Home page images/screwgauge.jpg" width=100% height=400px alt="image of screwgauge" style="width:100%"> 
      </div> 
      <div class="mySlides "> 
       <img onclick="window.location.href='/home/menu/Engineering Equipments/Physics/Diodes'" src="/static/Home page images/diode.jpg" width=100% height=400px alt="image of diode" style="width:100%"> 
      </div> 
      <a class="prev" onclick="plusSlides(-1, this.parentNode)">❮</a> 
      <a class="next" onclick="plusSlides(1, this.parentNode)">❯</a> 
      <div style="text-align:center"> 
       <span class="dot" onclick="currentSlide(1, slideshow4)"></span> 
       <span class="dot" onclick="currentSlide(2, slideshow4)"></span> 
       <span class="dot" onclick="currentSlide(3, slideshow4)"></span> 
       <span class="dot" onclick="currentSlide(4, slideshow4)"></span> 
       <span class="dot" onclick="currentSlide(5, slideshow4)"></span> 
      </div> 
     </div> 
     <br> 
     <script>
      
      var slideshow1 = document.getElementById("slideshow1");
  slideshow1.currentSlideIndex = 1;
  showSlides(slideshow1.currentSlideIndex, slideshow1);
  
  var slideshow2 = document.getElementById("slideshow2");
  slideshow2.currentSlideIndex = 1;
  showSlides(slideshow2.currentSlideIndex, slideshow2);
  
  var slideshow3 = document.getElementById("slideshow3");
  slideshow3.currentSlideIndex = 1;
  showSlides(slideshow3.currentSlideIndex, slideshow3);
  
  
  var slideshow4 = document.getElementById("slideshow4");
  slideshow4.currentSlideIndex = 1;
  showSlides(slideshow4.currentSlideIndex, slideshow4);
  
  function plusSlides(n, slideshow) {
    showSlides(slideshow.currentSlideIndex += n, slideshow);
  }
  
  function currentSlide(n, slideshow) {
    showSlides(slideshow.currentSlideIndex = n, slideshow);
  }
  
  function showSlides(n, slideshow) {
    
  
  
    var i;
    var slides = slideshow.getElementsByClassName("mySlides");
    var dots = slideshow.getElementsByClassName("dot");
    if (n > slides.length) {slideshow.currentSlideIndex = 1}    
    if (n < 1) {slideshow.currentSlideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideshow.currentSlideIndex-1].style.display = "block";  
    dots[slideshow.currentSlideIndex-1].className += " active";
    
  }
      
      </script> 
    </section> 
   
  </body>

{% endblock content %}