{% extends "layout.html" %} {% block content %}
<style>
    body {
        padding: 60px;
    }
</style>
<h1>Cart Page</h1>
<button onclick="window.location.href='/list'">ADD TO CART</button>
<button onclick="window.location.href='/removeFromCart'">REMOVE FROM CART</button>
<div id="cartItems">
    <h2>Shopping Cart</h2>
    <div id="tableItems">
        {% for row in products %}
        <div>
            <hr id="seperator">
            <div id="itemImage">
                <img src={{url_for( 'static', filename='uploads/' +row[3])}} id="image" />
            </div>
            <div id="itemName">
                <span id="itemNameTag">{{row[1]}}</span><br> In stock<br>
                <a href="/removeFromCart?productId={{row[0]}}">Remove</a>
            </div>
            <div id="itemPrice">
                ${{row[2]}}
            </div>
        </div>
        {% endfor %}
        <hr id="seperator">
        <div id="total">
            <span id="subtotal">Subtotal</span> : ${{totalPrice}}
        </div>
    </div>
</div>
{% endblock content %}