{% extends "layout.html" %} {% block content %}
<html>

<head>
    <style>
        h1 {
            border-width: 7px;
            border-top-color: blue;
            border-bottom-color: blue;
            border-left-color: #0FA6F2;
            border-right-color: #0FA6F2;
            border-style: solid;
            padding: 15px;
            background-color: #0FA6F2;
        }
        
        body {
            background-color: white
        }
        
        .central {
            text-align: left;
        }
        
        .center {
            text-align: center;
        }
        
        .imgmod {
            float: left;
            border: 2px solid black;
            margin: 25px 25px 0px 0px;
        }
        
        .button {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        
        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #e7e7e7;
            color: black;
        }
        
        .button1:hover {
            background-color: #e7e7e7;
            color: black;
        }
    </style>
    <title>General Books</title>
</head>

<body>

    <div class="center">
        <p>
            <h1><b><u>General Books</u></b></h1>
        </p>
    </div>
    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B1.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u> <a href="/home/menu/generalbooks/Barrons Reading Workbook For The New SAT">Barrons Reading Workbook For The New SAT</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Barrons Reading Workbook For The New SAT'">Check</button></p>
    <br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B2.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u> <a href="/home/menu/generalbooks/Coronavirus:What You Need To Know About The Global Pandemic">Coronavirus:What You Need To Know About The Global Pandemic</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 299.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Coronavirus:What You Need To Know About The Global Pandemic'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B3.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Shuttling To The Top:The Story Of P.V.Sindhu">Shuttling To The Top:The Story Of P.V.Sindhu</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Shuttling To The Top:The Story Of P.V.Sindhu'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B4.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/The Lost Symbol"> The Lost Symbol</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/The Lost Symbol'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B5.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/The Da Vinci Code"> The Da Vinci Code</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/The Da Vinci Code'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B6.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Upstream"> Upstream</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 799.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Upstream'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B7.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Ikigai : The Japanese Secret To A Long And Happy Life">Ikigai : The Japanese Secret To A Long And Happy Life</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 599.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Ikigai : The Japanese Secret To A Long And Happy Life'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B8.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u> <a href="/home/menu/generalbooks/The Alchemist">The Alchemist</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 350.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/The Alchemist'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B9.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/The Great Gatsby"> The Great Gatsby</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 150.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/The Great Gatsby'">Check</button></p>
    <br><br><br>

    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B10.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Ghost Flight"> Ghost Flight</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 499.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Ghost Flight'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B11.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Immortals Of Meluha Book 1 Of The Shiva Trilogy">Immortals Of Meluha Book 1 Of The Shiva Trilogy</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Immortals Of Meluha Book 1 Of The Shiva Trilogy'">Check</button></p>
    <br><br><br>

    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B12.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Secret Of The Nagas Book 2 Of The Shiva Trilogy"> Secret Of The Nagas Book 2 Of The Shiva Trilogy</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 399.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Secret Of The Nagas Book 2 Of The Shiva Trilogy'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B13.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Oath Of The Vayuputras Book 3 Of The Shiva Trilogy">Oath Of The Vayuputras Book 3 Of The Shiva Trilogy</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 599.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Oath Of The Vayuputras Book 3 Of The Shiva Trilogy'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B14.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Game Query : The Mind Stretching Economist Quiz">Game Query : The Mind Stretching Economist Quiz</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 599.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Game Query : The Mind Stretching Economist Quiz'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B15.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/World Puzzle Championship Challenge : Are You As Bright As The Best">World Puzzle Championship Challenge : Are You As Bright As The Best</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 725.00 </h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/World Puzzle Championship Challenge : Are You As Bright As The Best'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B16.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/LEGACY"> LEGACY</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 275.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/LEGACY'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B17.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Three Thousand Stitches : Ordinary People Extraordinary Lives">Three Thousand Stitches : Ordinary People Extraordinary Lives</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 250.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Three Thousand Stitches : Ordinary People Extraordinary Lives'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B18.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Hardy Boys : Great Airport Mystery">Hardy Boys : Great Airport Mystery</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 250.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Hardy Boys : Great Airport Mystery'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B19.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Hardy Boys : While The Clock Ticked">Hardy Boys : While The Clock Ticked</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 250.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Hardy Boys : While The Clock Ticked'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B20.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Hardy Boys : Mysterious Caravan">Hardy Boys : Mysterious Caravan</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 250.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Hardy Boys : Mysterious Caravan'">Check</button></p>
    <br><br><br>
    <hr>

    <! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->
    <img src="/static/images/B21.jpg" width="140" height="" class="imgmod">
    <br>
    <h4 class="cenral"><u>Product Name:</u><a href="/home/menu/generalbooks/Hardy Boys : Clue Of The Broken Blade">Hardy Boys : Clue Of The Broken Blade</a></h4>

    <h4 class="cenral"><u>Price:</u>₹ 250.00</h4>

    <p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/generalbooks/Hardy Boys : Clue Of The Broken Blade'">Check</button></p>
    <br><br><br>
    <hr>


</body>

</html>
{% endblock content %}