{% extends "layout.html" %}
{% block content %}

<head> 
    <style>
  
  table {
    align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td ,th {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style> 
   </head> 
   <body> 
    <h1 style="text-align:left"><u>Contact Us:</u></h1> 
    <p></p> 
    <h4>Here at Edupoint we give best of the best services with educational goods in most affordable rates,hope u,guys are enjoying it and don't hesitate to contact us for any queries/complaint.Sorry for inconvenience caused if any.</h4> 
    <h4>Contact details are as follows:</h4> 
    <p></p> 
     <br><br>
  <p class="jumbotron"><u>Email:</u> edupointmail6720@gmail.com</p>
   
  </body>

  {% endblock content %}