{% extends "layout.html %"}
{% block content %}

<html>
<head>
<style>
	h1{border-width:7px;
		border-top-color:blue;
		border-bottom-color:blue;
		border-left-color:#0FA6F2;
		border-right-color:#0FA6F2;
		border-style:solid;
		padding:15px;
		background-color:#0FA6F2;
	}
	body{background-color:white;
		padding: 60px;}
	.central{text-align:left;
			}
	
	.center{text-align:center;}		
	
	.imgmod{
	float:left;
	border:2px solid black;
	margin:25px 25px 0px 0px;
	}
	
	.button{
	border:none;
	color:white;
	padding:16px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:;16px;
	margin:4px 2px;
	transmition-duration:0.4s;
	cursor:pointer;
	}
	
	.button1{
	background-color:;white;
	color:black;
	borde:2px solid #e7e7e7;
	color:black;
	}
	
	.button1:hover{
	
	backgound-color:;#e7e7e7;
	color:black;
	}
</style>
<title>General Books</title>
</head>
<body>

	<div class="center">
	<p><h1><b><u>General Books</u></b></h1></p>
	</div>
<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<a href="EDUPOINT General Books/Book_1.html">
	<img src="EDUPOINT General Books/B1.jpg" width="140" height="" class="imgmod">
	</a>
	<br>
	<h4 class="cenral"><u>Product Name:</u> <a href="EDUPOINT General Books/Book_1.html">Barrons Reading Workbook For The New SAT</a></h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_1.html'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B2.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> Coronavirus:What You Need To Know About The Global Pandemic</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 299.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_2.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B3.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> Shuttling To The Top:The Story Of P.V.Sindhu</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_3.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B4.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> The Lost Symbol</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_4.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B5.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> The Da Vinci Code</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_5.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B6.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> Upstream</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 799.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_6.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B7.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>Ikigai : The Japanese Secret To A Long And Happy Life</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 599.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_7.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B8.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> The Alchemist</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 350.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_8.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B9.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> The Great Gatsby</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 150.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_9.html'">Check</button></p>
	<br><br><br>
	
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B10.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> Ghost Flight</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 499.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_10.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B11.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>Immortals Of Meluha Book 1 Of The Shiva Trilogy</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_11.html'">Check</button></p>
	<br><br><br>
	
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B12.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> Secret Of The Nagas Book 2 Of The Shiva Trilogy</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 399.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_12.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B13.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>Oath Of The Vayuputras Book 3 Of The Shiva Trilogy</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 599.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_13.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B14.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>Game Query : The Mind Stretching Economist Quiz</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 599.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_14.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B15.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>World Puzzle Championship Challenge : Are You As Bright As The Best</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 725.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_15.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B16.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u> LEGACY</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 275.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_16.html'">Check</button></p>
	<br><br><br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="EDUPOINT General Books/B17.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u>Three Thousand Stitches : Ordinary People Extraordinary Lives</h4>
	
	<h4 class="cenral"><u>price:</u>₹ 250.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='EDUPOINT General Books/Book_17.html'">Check</button></p>
	<br><br><br>
<hr>	


</body>
</html>

{% endblock content %}