{% extends "layout.html" %}
{% block content %}
<html>
<head>
<style>
	h1{border-width:7px;
		border-top-color:blue;
		border-bottom-color:blue;
		border-left-color:#0FA6F2;
		border-right-color:#0FA6F2;
		border-style:solid;
		padding:15px;
		background-color:#0FA6F2;
	}
	body{background-color:white;
		padding: 60px;}
	.central{text-align:left;
			}
	
	.center{text-align:center;}		
	
	.imgmod{
	float:left;
	border:2px solid black;
	margin:25px 25px 0px 0px;
	}
	
	.button{
	border:none;
	color:white;
	padding:16px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:;16px;
	margin:4px 2px;
	transmition-duration:0.4s;
	cursor:pointer;
	}
	
	.button1{
	background-color:;white;
	color:black;
	borde:2px solid #e7e7e7;
	color:black;
	}
	
	.button1:hover{
	
	backgound-color:;#e7e7e7;
	color:black;
	}
</style>
<title>Electronic Equipment</title>
</head>
<body>

	<div class="center">
	<p><h1><b><u>Electronics Equipments</u></b></h1></p>
	</div>
<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/accelerometer.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="cenral"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Accelerometer">Accelerometer</a></h4>
	
	<h4 ><u>Price:</u>₹ 350.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Accelerometer'">Check</button></p>
	<br>
<hr>	


<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/ardunio board.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Arduino Board">Arduino Board</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 449.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Arduino Board'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/breadboard.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Breadboard">BreadBoard</a></h4>
	
	<h4 class="central"><u>Price:</u>₹249.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Breadboard'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/digital multimeter.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Digital Multimeter">Digital Multi Tester</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 385.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Digital Multimeter'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/IR sensor.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/IR Sensor"> IR Sensor</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 140.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/IR Sensor'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/lidar sensor.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Lidar Sensor"> Lidar Sensor</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 850.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Lidar Sensor'">Check</button></p>
	<br>
<hr>	


<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/rasbery pi.jpg" width="160" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Raspberry Pi"> Raspberry Pi</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 4200.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Raspberry Pi'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/soldering iron.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Soldering Iron"> Soldering Iron</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 541.00</h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Soldering Iron'">Check</button></p>
	<br>
<hr>	

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/SquadPixel ESP-32 WiFi , Bluetooth, Dual Core Chip Development Board.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/SquadPixel ESP-32 WiFi , Bluetooth, Dual Core Chip Development Board"> SquadPixel ESP-32 WiFi , Bluetooth, Dual Core Chip Development Board</a></h4>
	
	<h4 class="central"><u>Price:</u>₹570 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/SquadPixel ESP-32 WiFi , Bluetooth, Dual Core Chip Development Board'">Check</button></p>
	<br>
<hr>

<! -- TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT -->	
	<img src="/static/Img/transister.jpg" width="140" height="" class="imgmod">
	<br>
	<h4 class="central"><u>Product Name:</u><a href="/home/menu/Engineering Equipments/Electronics/Transistor">Transistor</a></h4>
	
	<h4 class="central"><u>Price:</u>₹ 49.00 </h4>
	
	<p align="left"><button class="button button1 central" onclick="window.location.href='/home/menu/Engineering Equipments/Electronics/Transistor'">Check</button></p>
	<br>
<hr>

</body>
</html>
{% endblock content %}